$svg-margin: 0;

.animation-overlay {
	width: calc(100% - #{$svg-margin * 2});
	height: calc(100% - #{$svg-margin * 2});
	position: absolute;
	top: $svg-margin;
	right: $svg-margin;
	bottom: $svg-margin;
	left: $svg-margin;
}
