$svg-margin: 0rem;

.animation-overlay {
	width: calc(100% - #{$svg-margin * 2});
	height: calc(100% - #{$svg-margin * 2});
	position: absolute;
	top: $svg-margin;
	right: $svg-margin;
	bottom: $svg-margin;
	left: $svg-margin;
}

.header {
	height: 100%;
	display: flex;
	justify-content: center;

	.icon {
		width: 25%;
		fill: none;
		stroke: #000;
	}
}

button {
	position: absolute;
	z-index: 1000;
}
