<%- include('../../partials/header.ejs', { title: 'Homepage', styles: ['./home.scss'] }) -%>

<h1>Hello World!</h1>

<script src="./animation.ts"></script>
<%- include('../../partials/footer.ejs') -%>
