@import 'normalize';

$black: #111;
$white: #eee;
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);

* {
	margin-top: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html, body {
	height: 100%;
	color: $black;
}

body {
	font-size: 1em;
	overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6, text {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

h1, h2, h3, h4 {
	margin: 1.414em 0 0.5em;
	line-height: 1.2;
}

h1 {
	margin-top: 0;
	font-size: 6.854em;
}

h2 {
	font-size: 4.236em;
}

h3 {
	font-size: 2.618em;
}

h4 {
	font-size: 1.618em;
}

p {
	margin-bottom: 1.3em;
}

small {
	font-size: 0.618em;
}

#exciting-svg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	width: 100%;
	height: 100%;

	z-index: -1;
}

#boring-content {
	height: 100%;
	margin-bottom: 6rem;
	padding: 1.5rem;
	display: none;
	opacity: 0;

	&.show {
		display: block;
		animation: fadeIn 0.5s ease-in-out forwards,
			addScroll 0.5s linear 1.5s forwards;

		.header-container {
			animation: squish 0.5s $ease-in-out-cubic 1s forwards;
		}
	}

	.header-container {
		height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;

		header {

			.intro-hello {
				margin: 0;
			}

			.intro-contact {
				display: flex;
				justify-content: flex-start;
				align-items: center;

				> * {
					transition-duration: 100ms;
					transition-timing-function: ease-in-out;

					&:hover {
						transform: scale(1.2);
					}

					&:not(:first-child) {
						margin-left: 1rem;
					}
				}

				.github,
				.linkedin {
					img {
						height: 2.5rem;
					}
				}

				.email {
					margin: 0 0 0 1rem;
					color: $black;
					font-family: 'Roboto', sans-serif;
					font-weight: 300;
					text-decoration: none;

					border-bottom: 1px solid rgba(0, 0, 0, 0);
					transition-duration: 100ms;
					transition-timing-function: ease-in-out;

					&:hover {
						transform: scale(1.1);
						border-bottom: 1px solid $black;
					}
				}
			}

		}
	}

	.skills,
	.projects {
		h2 {
			border-bottom: 1px solid $black;
		}
	}

	.skills .skills-list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		.skill {
			width: percentage(1 / 3);
			margin-bottom: 2.5rem;

			.skill-name {
				text-align: center;
				font-weight: 300;
			}
		}
	}

	.projects {
		.projects-list {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			.project {
				width: 100%;
				margin-bottom: 2.5rem;

				.project-heading {
					display: flex;
					justify-content: flex-start;

					margin-top: 0;

					.project-code {
						margin-right: 0.5rem;

						img {
							width: 2.5rem;
						}
					}

					.project-title {
						margin: 0;
					}
				}

				.project-hover {
					position: relative;
					display: inline-block;

					overflow: hidden;
					border: 1px solid rgba(mix($black, $white), 0.5);

					$hover-padding: 0.25rem;
					$hover-width: 2.5rem;

					&:hover {
						.project-desc {
							opacity: 1;
						}

						.hover {
							&.hover--top {
								transform: translate3d(0, $hover-width + $hover-padding, 0);
							}

							&.hover--right {
								transform: translate3d(-($hover-width + $hover-padding), 0, 0);
							}

							&.hover--bottom {
								transform: translate3d(0, -($hover-width + $hover-padding), 0);
							}

							&.hover--left {
								transform: translate3d($hover-width + $hover-padding, 0, 0);
							}
						}
					}

					.hover {
						position: absolute;
						transition-property: transform;
						transition-duration: 0.25s;
						transition-timing-function: ease-in-out;;

						&.hover--top,
						&.hover--bottom {
							width: calc(100% - #{$hover-padding * 2});
							height: $hover-width;

							left: $hover-padding;

							border-right: 1px solid $white;
							border-left: 1px solid $white;
						}

						&.hover--right,
						&.hover--left {
							width: $hover-width;
							height: calc(100% - #{$hover-padding * 2});

							top: $hover-padding;

							border-top: 1px solid $white;
							border-bottom: 1px solid $white;
						}

						&.hover--top {
							top: -2.5rem;
						}

						&.hover--right {
							right: -2.5rem;
						}

						&.hover--bottom {
							bottom: -2.5rem;
						}

						&.hover--left {
							left: -2.5rem;
						}
					}

					.project-image {
						width: 100%;
					}

					.project-desc {
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;

						display: flex;
						justify-content: center;
						align-items: center;

						margin: 0;
						padding: 1rem;

						opacity: 0;
						transition-property: opacity;
						transition-duration: 0.25s;
						transition-timing-function: ease-in-out;

						text-align: justify;

						background: rgba(0, 0, 0, 0.8);
						color: $white;
					}
				}
			}
		}
	}

	footer {
		margin-top: 1.414em;
		margin-bottom: 6rem;
		text-align: center;
		font-weight: 300;
	}
}

@media (min-width: 576px) {
	#boring-content {
		.skills .skills-list .skill {
			width: percentage(1 / 5);
		}

		.projects .projects-list .project {
			width: percentage(1 / 2) - 5%;
		}
	}
}

@media (min-width: 768px) {
	#boring-content .skills .skills-list .skill {
		width: percentage(1 / 6);
	}
}

@media (min-width: 992px) {
	#boring-content {
		.skills,
		.projects {
			padding: 0 25%;
		}
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes addScroll {
	0% {
		overflow-y: hidden;
	}
	100% {
		overflow-y: auto;
	}
}

@keyframes squish {
	0% {
		height: 100%;
	}
	100% {
		height: 50%;
	}
}
